//------------------ colors --------------------

$mainColor: #ef4036;
$black: #000000;
$white: #ffffff;

//-------------------- Fonts ----------------------

$headFont: "Source Sans Pro";
$subFont: "Source Sans Pro regular";

// $headFont:'Source Sans Pro';
// $subFont:'Source Sans Pro regular';
